.home{
    width:100vw;
    height:100vh;
}

.homeNavbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #1B2435;
    padding:20px 0px 15px 0px;
}

.leftSide {
    display:flex;
    align-items:center;
    gap:20px;
    padding-left:80px;
}

.homeNavbarIcon {
    padding:10px;
    background-color:#252652;
    border-radius:10px;
    height:20px;
    width:20px;
}

.rightSide {
    display:flex;
    gap:20px;
    padding-right:80px;
}

.loginBtn {
    border:1px solid #262F3F;
    border-radius:10px;
    background-color:transparent;
    color:white;
    padding:12px 20px;
    font-weight:bolder;
}

.loginBtn:hover {
    background-color:#535f7577;
    cursor:pointer;
}

.signupBtn {
    background-color:#7E62F4;
    border-radius:10px;
    border:none;
    padding:12px 20px;
    color:white;
    font-weight:bolder;
}

.signupBtn:hover {
    background-color:#7f62f49e;
    cursor:pointer;
}

.heroSection {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:70px;
    gap:70px;
    padding-bottom:80px;
}

.heroLeft {
    width:500px;
}

.heroTitle {
    background: linear-gradient(90deg, #a78bfa, #7c3aed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:65px;
    line-height:1.0;
    margin:0;
}

.heroDescription {
    font-size:18px;
    padding-top:20px;
    width:500px;
    margin:0;
    color:#D1D5DB;
}

.heroBtns {
    display:flex;
    align-items:center;
    gap:30px;
    margin-top:30px;
}

.getStartedBtn {
    background-color:#7E62F4;
    color:white;
    border-radius:10px;
    padding:15px 35px;
    border:none;
    font-size:15px;
    font-weight:bolder;
}

.getStartedBtn:hover {
    background-color:#7f62f49e;
    cursor:pointer;
}

.getStartedBtnIcon {
    margin-left:18px;
}

.learnMoreBtn {
    background-color:#0E1729;
    border:1px solid #262F3F;
    color:white;
    border-radius:10px;
    padding:15px 36px;
}


.heroImg {
    width: 550px;
    height: 350px;
    border-radius: 15px;
}

.featuresSection {
    text-align:center;
    background-color:#1B2335;
    padding-bottom:50px;
}

.featuresTitle {
    padding-top:60px;
    font-size:30px;
    margin:0;
}

.featuresDescription {
    margin-top:0;
    padding-top:20px;
}

.features {
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:30px;
}

.footerSection {
    margin-top:0;
    background-color:#0E1729;
    padding:80px 50px;
    display:flex;
    justify-content:center;
}

.readySection {
    text-align:center;
    background-color:#191E3B;
    padding:40px 275px;
    background: radial-gradient(
                circle at 100% 50%, 
              #2B2F64 0%, 
              #1D2142 100%);
    border:1px solid #3B3D64;
    border-radius:10px;
}

.readyTitle {
    font-size:30px;
    font-weight:bolder;
}

.readyDescription {
    font-size:18px;
}

.readyBtns {
    display:flex;
    justify-content:center;
    margin:0 auto;
    gap:20px;
    margin-top:30px;
}

.readySignUpBtn {
    color:black;
    background-color:#FFFFFF;
    border-radius:10px;
    padding:15px 40px;
}

.readyLogInBtn {
    border:1px solid #FFFFFF;
    background-color:#0E1729;
    padding:15px 30px;
    color:#FFFFFF;
    border-radius:10px;
}